@using Woood.Models;

@model LoginViewModel

@{Html.RenderPartial("BaseHead");}

@using (Html.BeginForm())
{
<div class="grid-container">
    <h1> Login</h1>
    <div class="grid-6">
        <div class="small">Email:</div>
        <div class="input">
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        </div>
        <div class="small">Wachtwoord:</div>
        <div class="input">
            @Html.PasswordFor(model => model.Wachtwoord, new { @class = "form-control" })
        </div>
    </div>
    <input type="submit" name="submit" value="Login" class="btn btn-default" />
    <a href="~/Register">
        <h1> Of klik hier om te registreren</h1>
    </a>

</div>
}
@{Html.RenderPartial("BaseFoot");}
