body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}
.header{
  
  background-color:green;
  
  height:3cm;
  
}

.header img{
    height:3cm;
    width:auto;
}
.form{
  padding-left:155px;
  background-color:lightblue;
  
}
.login{
  float:right;
  margin-right:5%;
  margin-top:1%;
}

.logo{
  
  float:left;
}


.content{
  background-color:lightblue;
  height:13cm;
}

.footer{
  
  background-color:black;
  height:3cm;
  
  
}

.cat-holder{
    background-color:yellow;
    width:-moz-available;
    margin:1%;
    height:40%;
    float:left;
    
}
.cat{
    width:31.8%;
    height:90%;
    background-color:blue;
    float:left;
    margin:0.7%;
}

.cartProduct{
  width:-moz-available;
  height:10%;
  padding-left:0%;
  background-color:darkGreen;
  
}
.cartPPicture{
  float:left;
  width:8%;
  height:200%;
  background-color:yellow;
  margin-left:10%;
  margin-top:1%;
}
.cartPDes{
  float:left;
  font-weight: bold;
  padding-top:1%;
  padding-left:1%;
  font-size:large;
}

.cartPQuantity {
  float:right;
  padding-top:1%;
  font-size:large;
  padding-right: 20%
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}