body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}
.header{
  
  background-color:green;
  
  height:3cm;
  
}

.header img{
    float:left;
    height:3cm;
    width:auto;
}
.form{
  padding-left:155px;
  background-color:lightblue;
  
}
.login{
  float:right;
  margin-right:5%;
  margin-top:1%;
}


.content{
    background-color:lightblue;
    min-height: 5cm;
}

.footer{
  
  background-color:green;
  height:3cm;
  
  
}

.cat-holder{
    background-color:yellow;
    width:-moz-available;
    margin:1%;
    height:40%;
    float:left;
    
}
.cat{
    width:31.8%;
    height:90%;
    background-color:blue;
    float:left;
    margin:0.7%;
}
.cartProduct{
    border:2px solid black;
    margin:5px;
    background-color:lightgrey;
    height:4cm;
}
.cartPThumb{
    height:100%;
    float:left;
    padding-left:15%;
    
}
.cartPNaam{
    font-weight: bold;
    font-size:large;
    height:20%;
    background-color:black;
    width:50%;
}
.cartPOmschrijving{
    float:left;
    height:80%;
}
.cartPPrijs{
    float:right;
    background-color:blue;
    margin-top:5%;
    margin-right:10%;
}
.cartPRemove{
    float:right;
    background-color:yellow;
}
.cartTotal{
    float:right;
    margin-right:10%;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.product { 
    border: 2px solid black;
    margin-left: 5%; ;
    padding: 3px;
    margin-top: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.productImg {
  height: 150px; 
}

.price { 
    float:left; 
    padding-top: 15px; 
}

.price span { 
    padding-left: 15px; 
}

