@{Html.RenderPartial("BaseHead");}
<div class="cartProduct">
    <div class="cartPPicture">
    </div>
    <div class="cartPDes">
        Dit is een product
    </div>
    <div class="cartPQuantity">

        Hoeveelheid: 5
    </div>
</div>

@{Html.RenderPartial("BaseFoot");}
