@{Html.RenderPartial("BaseHead");}
@using Woood.Models

@{
    Cart cart = ViewData["Cart"] as Cart;
    foreach (CartProduct cartProduct in cart.ProductList)
    {
        Product product = cartProduct.Product;
        <div class="cartProduct">
            <div class="cartPPicture">
                @product.naam
            </div>
            <div class="cartPDes">
            </div>
            <div class="cartPQuantity">

                @cartProduct.Quantity
            </div>
        </div>

    }
}

@{Html.RenderPartial("BaseFoot");}
