@{Html.RenderPartial("BaseHead");}
@using Woood.Models

@{
    Cart cart = ViewData["Cart"] as Cart;
    if (cart != null)
    {
        int total= 0;
        int index = 0;
        foreach (CartProduct cartProduct in cart.ProductList)
        {
            
            total += cartProduct.Product.prijs * cartProduct.Quantity;
            
            Product product = cartProduct.Product;
            <div class="cartProduct">
                <div class="cartPThumb">
                    <img src=@product.thumbnail>
                </div>
                <div class="cartPNaam">
                    @product.naam
                </div>
                <div class="cartPOmschrijving">
                    @product.beschrijving
                </div>
                <div class="cartPQuantity">

                    Hoeveelheid: @cartProduct.Quantity
                </div>
                <div class="cartPPrijs">
                    Prijs: @cartProduct.Product.prijs
                </div>
                <div class="cartPRemove">
                    <a href="/cart/remove?index=@index">
                        Verwijder
                    </a>
                </div>
            </div>
            index++;

        }
        <div class="cartTotal">
            Totaal @total
        </div>
    
    <div class="bestelbutton">
        <a href="/cart/bestel/">
            Bestel
        </a>
    </div>
    }
    else
    {
        <p> Uw Winkelwagen is leeg</p>
    }
}

@{Html.RenderPartial("BaseFoot");}
