@{Html.RenderPartial("BaseHead");}
@using Woood.Models
<div class="admin link">
    <a href="/admin/product">Producten</a>
</div>
<div class="admin link">
    <a href="/admin/product">Categorieen</a>
</div>
<div class="admin link">
    <a href="/admin/product">Bestellingen</a>
</div>


@{
    Html.RenderPartial("BaseFoot");
}