@{Html.RenderPartial("BaseHead");}

<h1> Wie zijn wij? </h1>

Woood is opgericht in het jaar 1997 door Madelon Nieuwland en Brigitte Derks.
Madelon studeerde Informatica aan het Haags Hogeschool, een studie die haar geen voldoening gaf in haar leven. 
Ze besloot ermee te stoppen om vervolgens met een opleiding Hbo houtbewerking te beginnen. 
Daar kwam ze Brigitte tegen, een dame die dezelfde passie als haar deelt. 
Samen besloten ze Wood Meubelen op te richten, een bedrijf die zich specialiseert in het ontwerpen en maken van houten meubelen.

<h1> Klant is koning </h1>

Woood Meubelen heeft op dit moment 14 mensen in dienst. 
Onze producten zijn handgemaakt en altijd van top kwaliteit materiaal.
Doordat we een relatief klein bedrijf zijn kunnen we  meer aandacht besteden aan onze klanten.
De wensen van de klant staan altijd voorop. 
Mocht het voorkomen dat een product is uitverkocht of net niet is wat u wilt hoeft u zich geen zorgen te maken, 
want bij Woood Meubelen is er altijd een oplossing.

Woood Meubelen op Maat

Is het kast die u wilt net iets te groot, of wilt u misschien een grotere bed.
Dan is Wood Meubelen op Maat iets voor u. 
Onze ontwerpers staan voor u klaar om uw ideeën op papier te zetten,
en uw dromen te realiseren.

Klik <a href="mailto:admin@woood.nl">hier</a> als u interesse heeft, of als u vragen heeft over onze producten 
@{Html.RenderPartial("BaseFoot");}
