@{Html.RenderPartial("BaseHead");}

    <div class="content">

        <div class="cat-holder">
            <div class="cat"></div>
            <div class="cat"></div>
            <div class="cat"></div>
        </div>
        <div class="cat-holder">
            <div class="cat"></div>
            <div class="cat"></div>
            <div class="cat"></div>
        </div>

    </div>

    @{Html.RenderPartial("BaseFoot");}
