@{Html.RenderPartial("BaseHead");}
@using Woood.Models;

@{



    <div class="content">
        @{
            foreach (Categorie categorie in ViewData["Categorie"] as List<Categorie>)
            {
                <div class="cat-holder">

                    <div class="cat">
                        <a href="/categorie?id=@categorie.id">
                            @categorie.naam
                        </a>
                    </div>

                </div>
            }
        }

    </div>
}
@{Html.RenderPartial("BaseFoot");}
