@using Woood.Models;

@{
    User user = Session["user"] as User;
}


<html>

<head>
</head>
<body>
    <div class="header">

        <div class="logo">
            <a href="/">
            <img src="/content/logo.png">
            </a>

        </div>

        @{

            if (user == null)
            {

                <div class="login">

                    <a href="register">Registreer</a>

                    <br>
                    <a href="login">Login</a>

                    <br>

                    <a href="about.html">Over ons</a>

                </div>

            }else
            {
                <div class="login">
                    <a href="logout">
                        log uit
                    </a>
                </div>
            }
        }
        

    </div>
    <div class="content">
